MONGO_URI=mongodb://rishabhkavachale_db_user:9I5YaPl25Fq2Ck7e@ac-me4t8wd-shard-00-00.dywba4p.mongodb.net:27017,ac-me4t8wd-shard-00-01.dywba4p.mongodb.net:27017,ac-me4t8wd-shard-00-02.dywba4p.mongodb.net:27017/?ssl=true&replicaSet=atlas-85sw1b-shard-0&authSource=admin&appName=todo
JWT_SECRET=your_jwt_secret_minimum_32_characters
JWT_EXPIRE=7d
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
